html {
	background-color: #dbdbf6;
}

body {
	font-family: arial, helvetica, sans-serif;
	width: 70%;
	margin: auto;
	box-shadow: 0px 0px 10px black;
}

header {
	background-color: #6e6ef8;
	color: white;
}

header h1 {
	padding:10px 20px;
}

nav {
	background-color: #000;
	color: white;
	padding:10px 20px;
}

nav a {
	display: inline-block;
	color: white;
	padding: 3px 6px;
}



/*user messages*/
.centre_text {
	text-align: center;
}

form {
	width: 80%;
	margin: 1em auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

input[type="submit"] {
	margin-top: 1em;
}

table {
	width: 100%;
}

#gallery img {
	aspect-ratio: 16 / 10;
  object-fit: cover;
	width: 96%;
	max-width: initial !important;
}

.jumbotron {
	margin-bottom: 0;
	padding: 2rem 1rem;
}