nav {
  background-color: #456;
  color: white;

  a {
    display: inline-block;
    color: white;
    padding: 20px;

    &:hover {
      background-color:#FFF4;
    }
  }
}

div#gallery {
  border: ridge 8px #456;
  margin: 30px;
  padding: 30px;
  text-align: center;
}

table#modifytable {
  border: ridge 8px #456;
  margin: 30px;
  border-collapse: collapse;

  th, td {
    padding: 10px 15px;
    border: dashed 1px #456;
  }
}

div.gallery-item {
  display: inline-block;
  border: ridge 4px #456;
  margin: 10px;
  padding: 10px;

  img {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
}

footer {
  background-color: #456;
  color: white;
  padding: 20px;
}