header h1 {
  font-size:40pt;
}

nav {
  background-color: #456;
  color: white;

  a {
    display: inline-block;
    color: white;
    padding: 20px;

    &:hover {
      background-color:#FFF4;
    }
  }
}

div#masthead {
  display: flex;
  align-items: center;
/* Commenting this out for jigsaw validation reasons
  @media only screen and (max-width: 1000px) {
      display: block;
  }
*/
}
@media only screen and (max-width: 1000px) {
  div#masthead {
    display: block;
  }
}

div#featuredimages {
  width: 512px;
  height: 512px;
  text-shadow: 1px 1px 3px black;
  margin: 0px auto;
}
div#featuredimages img {
  width: 512px;
  height: 512px;
  object-fit: cover;
}
div#corpbanner {
  flex: 1;
  text-align: center;
}

div#gallery {
  border: ridge 8px #456;
  margin: 30px;
  padding: 30px;
  text-align: center;
}
#secretmessage {
  display: none;
}

table#modifytable {
  border: ridge 8px #456;
  margin: 30px;
  border-collapse: collapse;

  th, td {
    padding: 10px 15px;
    border: dashed 1px #456;
  }
}

div.gallery-item {
  display: inline-block;
  border: ridge 4px #456;
  margin: 10px;
  padding: 10px;

  img {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
}

footer {
  background-color: #456;
  color: white;
  padding: 20px;
}