nav {
  background-color: #456;
  color: white;

  a {
    display: inline-block;
    color: white;
    padding: 20px;

    &:hover {
      background-color: #FFF4;
    }
  }
}

/* Gallery Styles */

div#gallery,
table#modifytable {
  border: ridge 8px #456;
  margin: 30px;
  padding: 30px;
  text-align: center;
}

div.gallery-item {
  display: inline-block;
  border: ridge 4px #456;
  margin: 10px;
  padding: 10px;
  
  img {
    width:300px;
    height:250px;
    object-fit:cover;
  }

}

table#modifytable {
  border: ridge 8px #456;
  margin: 30px;
  border-collapse: collapse;

  th {
    background-color: #cfdae5;
  }

  th, td {
    border: dashed 1px #456;
    padding: 10px 15px;
  }
}

footer {
  background-color: #456;
  color: white;
  padding: 20px;
}