.verdana {
    font-family: Verdana, sans-serif;
}

.georgia {
    font-family: Georgia, sans-serif;
}

.impact {
    font-family: Impact, sans-serif;
}

.bigger {
    font-size: 120%;
}

.smaller {
    font-size: 85%;
}